<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>
    <form method="post" action="/user">
        <div>
            <label> Username:
                <input type="text" name="username" th:value="${username}">
            </label>
        </div>
        <div>
            <label> Email:
                <input type="email" name="email" th:value="${email}">
            </label>
        </div>
        <div>
            <label> Password:
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <label> Confirm Password:
                <input type="password" name="verify">
            </label>
        </div>
        <div>
            <input type="submit" value="Add User">
        </div>
    </form>
</body>
</html>